NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key

JWT_ACCESS_SECRET=my-local-super-secret-key-for-jwt-access-token-12345
JWT_REFRESH_SECRET=my-local-super-secret-key-for-jwt-refresh-token-67890